<html>
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>-->
    <!--    <script src="https://code.jquery.com/jquery-2.2.0.min.js"-->
    <!--            integrity="sha256-ihAoc6M/JPfrIiIeayPE9xjin4UWjsx2mjW/rtmxLM4=" crossorigin="anonymous"></script>-->
    <!--    <script src="jquery_cookie.js" type="text/javascript"></script>-->

</head>


<form action="/login" method="post">

    <h2>{{hello}}</h2>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">email</span>
        </div>
        <input type="text" name="email" required class="form-control" placeholder="Your email"
               id="emailId" aria-label="" autocomplete="name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">password</span>
        </div>
        <input type="password" name="current-password" required class="form-control" placeholder="Your Name"
               id="passwordId" aria-label="" value="" autocomplete="current-password" aria-describedby="basic-addon1">
    </div>

    <label class="checkbox">
        <input type="checkbox" value="remember-me" id="remember"> Remember me
    </label>
    <button id="save" type="submit" class="btn btn-primary">sign-up</button>
</form>


<script>

 $(document).ready(function(){

        $('input[type="checkbox"]').click(function(){

            if($(this).prop("checked") == true){

            $('#save').on('click', function(){
<!--            email-->
                $('input[type="text"]').each(function(){
                var id = $(this).attr('id');
                var value = $(this).val();
                localStorage.setItem(id, value);
                document.getElementById("emailId").value = value;

        });

<!--password -->
        $('input[type="password"]').each(function(){
                var id = $(this).attr('id');
                var value = $(this).val();

                localStorage.setItem(id, value);
<!--                NOT STORING THE PASSWORD MUST FIX!! -->
                document.getElementById("passwordId").value = value;
        });

            });

                console.log("Checkbox is checked.");
            }
            else if($(this).prop("checked") == false){
            document.getElementById("emailId").value = "";
                console.log("Checkbox is unchecked.");
            }
        });
    });


































































































































































































































































</script>
</html>