<html>


<body>

{{test}}

<!--<form action="/update" method="post">-->


<!--    <input type="text" required placeholder="to update enter your email here" name="emailId">-->
<!--    <br/>-->
<!--    <input type="text"  placeholder="email" name="email">-->
<!--    <br/>-->
<!--    <input type="text" placeholder="first name"  name="firstName">-->
<!--    <br/>-->
<!--    <input type="text" placeholder="second name"  name="secondName">-->
<!--    <br/>-->
<!--    <input type="text"  placeholder="surname" name="surName">-->


<!--    <button type="submit" >sub</button>-->
<!--</form>-->

</body>
</html>